@import '../../../../assets/scss/base/colors.scss';
@import '../../../../assets/scss/base/variables.scss';
@import '../../../../assets/scss/base/fonts.scss';


.bx-footer_heading{
    display: flex;
    width: 200px;
    height: 50px;
    &__h5{
        font-size: 15px;
        color: $ColourOne;
        margin-left: 10px;
    }
}