<div class="bnx-industry">
  <div class="head">
    <h1 class="pt-5">Beinex Industry Offerings</h1>
  </div>
  <div class="bnx-cards d-flex flex-wrap justify-content-center">
    <app-bx-card
      [style.backgroundColor]="'#FFFFFFA'"
      [title]="'Industry'"
      [imagePath]="'../../../../assets/icons/Vector 92.svg'"
      [rows]="[
        {
          iconPath: '../../../../assets/icons/card_icons/Group (12).svg',
          title: 'Information Technology',
          icon: ''
        },
        {
          iconPath: '../../../../assets/icons/card_icons/Group (13).svg',
          title: 'Human Resources',
          icon: ''
        },
        {
          iconPath: '../../../../assets/icons/card_icons/Group (14).svg',
          title: 'Procurement',
          icon: ''
        },
        {
          iconPath: '../../../../assets/icons/card_icons/Group (15).svg',
          title: 'Finance',
          icon: ''
        },
        {
          iconPath: '../../../../assets/icons/card_icons/Group (16).svg',
          title: 'Banking',
          icon: ''
        }
      ]"
    >
    </app-bx-card>
    <app-bx-card
      [style.backgroundColor]="'#FFFFFF35'"
      [title]="'Offerings'"
      [imagePath]="'../../../../assets/icons/Vector 92.svg'"
      [description]="' '"
      [rowss]="[
        { title: 'Ticket Response' },
        { title: 'Sentiment Analysis' },
        { title: 'Project Capabilities' },
        { title: 'Error reduction' }
      ]"
    ></app-bx-card>
    <app-bx-card
      [style.backgroundColor]="'#FFFFFF1A'"
      [title]="'Description'"
      [imagePath]="'../../../../assets/icons/Vector 92.svg'"
      [description]="
        'Predictive analytics is often applied here and for prediction of future possible relevant matters for tickets. Data science optimises these processes helping the companies to improve customer satisfaction rates and avoid previous mistakes. '
      "
    ></app-bx-card>
  </div>

</div>
