@import '../../../../assets/scss/base/colors.scss';
@import '../../../../assets/scss/base/mixins.scss';


.btn-group-toggle {
  top: 464px;
  gap: 10px;
}

.btn.btn-outline-primary {

  padding: 5px 29px;
  border-radius: 40px;
  border: 1px solid $ColourFive;
}

@include mobile {

  .btn.btn-outline-primary {

    padding: 3px 5px;
    border-radius: 40px;
    border: 1px solid $ColourFive;
    margin-left: 1px;
  }
}