@import '../../../assets/scss/base/mixins.scss';

html,
body {
    margin: 0;
}

.bx-layout {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.bx-badge {
    z-index: 2;
}

@include mobile {

    .bx-layout {
        margin-left: 1px;
    }

}