<div class="display">
  
  <app-bx-navbar></app-bx-navbar>
  <div class="table-container table">
    <table *ngIf="formData$ | async as formData" class="table">
      <tr>
        <th>Name</th>
        <td>{{ formData.name }}</td>
      </tr>
      <tr>
        <th>Company</th>
        <td>{{ formData.company }}</td>
      </tr>
      <tr>
        <th>Job Role</th>
        <td>{{ formData.jobRole }}</td>
      </tr>
      <tr>
        <th>Email</th>
        <td>{{ formData.email }}</td>
      </tr>
      <tr>
        <th>Phone</th>
        <td>{{ formData.phone }}</td>
      </tr>
      <tr>
        <th>Country</th>
        <td>{{ formData.country }}</td>
      </tr>
      <tr>
        <th>Message</th>
        <td>{{ formData.message }}</td>
      </tr>
      <tr>
        <th>Comment</th>
        <td>{{ formData.comment }}</td>
      </tr>
      <tr>
        <th>File</th>
        <td>{{ formData.inputFile }}</td>
      </tr>
    </table>
  </div>
  <app-bx-footer-bottom></app-bx-footer-bottom>
  
</div>