@import "../../../../assets/scss/base/mixins.scss";
@import '../../../../assets/scss/base/colors.scss';
@import '../../../../assets/scss/base/variables.scss';
@import '../../../../assets/scss/base/fonts.scss';

.bx-label{
    font-size: 18px;
    color:$ColouTwo;
    opacity: 0.8;
}

@include mobile{
    .bx-label{
        font-size: 15px;
        color: c$ColouTwo;
        opacity: 0.8;
        max-width: 500px;
    }
}