
@import "../../../../assets/scss/base/mixins.scss";

.bx-textarea-div{
    display: flex;
    border: 1px solid rgb(190, 187, 187);
    width: 795px;
    justify-content: space-between;
     height: 100px;
    &__img{
        width: 25px;
        height:20px;
    }
    &__style{
        border: none;
        width: 700px;
         height: 90px;
         position: relative;
         margin-left: 10px;
         resize: none;
         
    }
}
.bx-textarea-div__style:focus{
    outline:none;
}

@include mobile{
    .bx-textarea-div{
        display: flex;
        border: 1px solid rgb(161, 103, 103);
        width: 412px;
        justify-content: space-between;
         height: 100px;
         display: flex;
        &__img{
            width: 25px;
            height:20px;
        }
        &__style{
            border: none;
            width: 300px;
             height: 90px;
             position: relative;
             margin-left: 10px;
             resize: none;
             
        }
    }
}