
$ColourOne: #fff;
$ColouTwo: #000;
$ColourThree: #E9E9E9;
$ColourFour: #150D2B;
$ColourFive: #1D7AD0;
$ColourSix: #10385B;
$ColourSeven: #FFFFFF1A;
$ColourEight: rgba(217, 217, 217, 1);
$white : #fff;
$color: #10385B;
$line:#88ADC8;
$bg:rgb(229, 245, 247);
$box:rgb(188, 239, 245);
$card:rgb(81, 78, 240);
$foot: rgb(225, 223, 223);
$colourNine: rgb(22, 178, 221);
$backgroundtwo: rgb(231, 232, 232);