
<div class="footer-main">
    <div class="f-sec1 border-rght">
      <img
        src="../../../../assets/icons/beinex-logo.svg"
        class="mb-4"
        width="120px"
        alt=""
      />
     <div class=" f-sec1 pt-4">
        <a href class="mt-2">About Beinex​</a>
        <a href class="mt-2">Careers​</a>
        <a href class="mt-2">Press Releases</a>
        <a href class="mt-2">Beinex in the News</a>
     </div>
    </div>
  
    <div class="f-sec2  border-rght">
      <div class="col-6 f-sec1">
        <p class="pt-3 ">Our Services</p>
        <a href class="">Advanced Analytics​</a>
        <a href class="p-1">AI /ML/RPA</a>
        <a href class="p-1">Alteryx APA</a>
        <a href class="p-1">Audit Analytics</a>
        <a href class="p-1">Beinex Digital</a>
      </div>
  
      <div class="col-6 f-sec1 ">
        <a href class="pt-4 mt-5">Competitive Intellige ​</a>
        <a href class="pt-2">Modern Cloud Analy</a>
        <a href class="pt-2">Risk Analytics</a>
        <a href class="pt-2">Tableau</a>
        <a href class="pt-2">Tableau Support Se</a>
      </div>
    </div>
  
    <div class="f-sec1 border-rght pt-4">
      <p>Our Industries</p>
      <a href class="">Finance ​</a>
      <a href class="pb-1">Human Resources</a>
      <a href class="pb-1">Procurement</a>
      <a href class="pb-1">Sales</a>
    </div>
  
    <div class="f-sec2">
      <div class="col-6 f-sec1">
        <p>Our Partners</p>
        <a href class="pb-2">Tableau ​</a>
        <a href class="pb-2">Alteryx</a>
        <a href class="pb-2">AURAA</a>
        <a href class="pb-2">Amazon Web Services</a>
      </div>
  
      <div class="col-6 f-sec1">
        <a href class="pb-2 mt-5">Microsoft Azure​</a>
        <a href class="pb-2">Snowflake</a>
        <a href class="pb-2">Salesforce</a>
        <a href class="pb-2">Alation</a>
      </div>
    </div>
  </div>
  