@import "../../../../assets/scss/base/colors.scss";
@import "../../../../assets/scss/base/mixins.scss";

.bx-sub_heading {
    display: flex;
    padding: 0;
    flex-direction: column;
    width: 100%;
    color: $white;
    font-size: 22px;
    margin-left: 10px;
    margin-right: 50px;

    &__h5 {
        padding: 10px;
        letter-spacing: 2.52px;
        // text-transform: uppercase;
        font-size: 15px;
        margin-bottom: 0;
    }

    &__h5::after {
        content: " ";
        display: flex;
        height: 1px;
        width: 50px;
        background: $white;
        position: relative;
        left: 150px;
        top: -10px;
        opacity: 0.8;

    }

}


// @include mobile{
//     .sub_heading{
//         max-width: 400px;
//     }
//     .sub_heading__h5--white{
//         max-width: 400px;
//     }

// }