

<!-- horizontal line div -->
<section>
    <div id="line"></div>
  </section>
  <!-- horizontal line div end -->
  
  <!-- nav-bar section start -->
  <nav class="navbar navbar-expand-lg ">
    <div class="container-fluid">
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarTogglerDemo03"
        aria-controls="navbarTogglerDemo03"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brandy " href="#">
        <img src="../../../../assets/icons/beinex-logo.svg" alt="" />
      </a>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
        <div class="bnx-nav-right pe-3">
          <a class="pe-4 " href=""><b>Services</b></a>
          <a class="pe-4 ps-2" href=""><b>Partners</b></a>
          <a class="pe-4 ps-2" href=""><b>Industries</b></a>
          <a class="pe-4 ps-2" href=""><b>Company</b></a>
          <a class="pe-4 ps-2" href=""><b>Events</b></a>
          <a class="pe-4 ps-2" href=""><b>Careers</b></a>
          <a class="pe-4 ps-2" href=""><b>Resources</b></a>
          <a class="pe-4 ps-2" href=""><b>Training</b></a>
          <a class="pe-3 ps-2" href=""><b>Contact us</b></a>
        </div>
      </div>
    </div>
  </nav>
  
  <!-- nav-bar section end -->
  <!-- horizontal line div -->
  <section>
    <div id="line"></div>
  </section>
  <!-- horizontal line div end -->
  