.navbar {

  .bnx-nav-right {
    a {
      text-decoration: none;
      font-family: Poppins;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      
    }

  }

  .navbar-brandy {
    padding-left: 2.4rem;
  }
}

#line {
  background-color: #F5F5F5;
  width: 100%;
  height: 2px;
}





.navbar {

  .bnx-nav-right {
    a {
      text-decoration: none;
      color: #10385B;
      font-family: Poppins;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      padding: 3px;
    }

  }
}

#line {
  background-color: #F5F5F5;
  height: 2px;
  width: 100%;
}



// Mobile Responsive 
@media (max-width: 768px) {
  .navbar-toggler {
    margin-top: 5px;
  }

  .collapse.navbar-collapse {

    .bnx-nav-right {
      a {
        display: block;
        margin: 5px 0;
      }
    }
  }
}