<div class="bnx-subscribe row">
  <div class="col-7">
    <h6><b>Subscribe to our newsletter</b></h6>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vitae ac
      facilisis.
    </p>
  </div>
  <div class="subscribe-search-bar col-5">
    <form>
      <div class="row">
        <div class="col-md-10">
          <div class="input-group">
            <input
              type="email"
              class="form-control"
              placeholder="Enter your email"
            />
            <div class="input-group-append">
              <button class="btn btn-outline-primary" type="button">
                <img
                  src="../../../../assets/icons/form-icons/Group287.svg"
                  alt=""
                />
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
