<!-- country organism -->
<div class="bx-country">
<div class="bx-country__sub">
<app-bx-card-country
[imageSrc]="'../../../../assets/icons/united-arab-emirates.svg'"
[heading]="'Beinex – UAE'"
[address]="['506, BB01, Bay Square,Business Bay,P. O. Box 82940,Dubai, United Arab Emirates']"
[phone]="'+971 4 243 9494'"
[mobile]="'+971 52 695 0068'"
[email]="'Info@beinex.com'" 
></app-bx-card-country>
</div>
<div class="bx-country__sub">
<app-bx-card-country
[imageSrc]="'../../../../assets/icons/qatar.svg'"
[heading]="'Beinex – Qatar'"
[address]="['Global Business Centre II,Office No. R19, 2nd floor Al Hitmi Village, Building No 40, Cornish Road, Doha, QatarP.O Box 25422']"
[phone]="'+974 44023981'"
[mobile]="'+974 50682589'"
[email]="'info@beinex.qa'" 
></app-bx-card-country>
</div>
<div class="bx-country__sub">
<app-bx-card-country
[imageSrc]="'../../../../assets/icons/Group 231.svg'"
[heading]="'Beinex –  United Kingdom'"
[address]="['New Broad Street House35 New Broad StLondon England EC2M 1NH ']"
[phone]="'+44 7539 393552'"
[email]="'UK@beinex.com'" 
></app-bx-card-country>
</div>
<div class="bx-country__sub">
<app-bx-card-country
[imageSrc]="'../../../../assets/icons/india.svg'"
[heading]="'Beinex – India (Kochi)'"
[address]="['#19, Ground Level Infopark TBC, JNI Stadium Kaloor, Kochi Kerala 682017, India']"
[phone]="'+91 484 4855800'"
[mobile]="'+91 920 7204499'"
[email]="'Info@beinex.com'" 
></app-bx-card-country>
</div>
<div class="bx-country__sub">
<app-bx-card-country
[imageSrc]="'../../../../assets/icons/Mask Group.svg'"
[heading]="'Beinex – Kenya'"
[address]="['Beinex Consulting Ltd Purhottam Place, 7th floor, Westlands Rd, Museum Hill P. O. Box 66217-00800, Nairobi, Kenya.']"
[phone]="'+254 020 515 4016'"
[mobile]="'+971 52 695 0068'"
[email]="'Info@beinex.com'" 
></app-bx-card-country>
</div>
</div>